<div class="navbar-wrapper">
  <nav class="navbar">
    <div class="nav-start">
      <a routerLink="/home" class="logo">
        <img src="assets/icon/main_icon.png" alt="세종실록 로고" />
      </a>
    </div>
    <ul class="nav-end">
      <li><a routerLink="/heritage/heritageList" routerLinkActive="active">Heritage</a></li>
      <li><a routerLink="/panorama" routerLinkActive="active">Historical site</a></li>
      <li><a routerLink="/arexplore" routerLinkActive="active">AR Explore</a></li>
      <li><a routerLink="/article" routerLinkActive="active">Blog</a></li>
      <li><a routerLink="/mypage" routerLinkActive="active">My Page</a></li>
    </ul>
  </nav>
</div>