/* 전체 박스 */
.container-box {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* 배경 */
.circular-gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: radial-gradient(circle, #292720 0%, #292720 1%, #231F1F 100%);
  color: white;
  font-family: 'Georgia', serif;
}

// SEJONG ANNALS 위치
.corner-block {
  position: absolute;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 1.2;
  text-align: left;
  user-select: none;
  color: rgba(145, 142, 124, 0.26);
}

.corner-block .indented {
  margin-left: 8rem;
}

.top-right {
  top: 20vh;
  right: 2vh;
}

.bottom-left {
  bottom: 18vh;
  left: 18vh;
}

/* 콘텐츠 레이어 */
.content-layer {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
}



