.heritage-section {
  background-color: #faf9f3;
  padding: 1.5rem 1rem 3rem; // 위쪽 padding만 줄이기

  .heritage-header {
    text-align: left;            // 왼쪽 정렬
    max-width: 1000px;           // 이미지와 같은 최대 너비
    margin: 0 auto 2rem;         // 중앙 정렬 유지하면서 좌측 정렬

    h2 {
      font-weight: 700;
      font-size: 2rem;            // 크기 약간 줄임
      line-height: 1.4;
      margin: 1.5rem 0 0.3rem; // 위 마진 줄임
      color: #000;
      display: inline-block;
      padding-bottom: 0.2rem;
      border-bottom: none;        // 밑줄은 hr로 대체
    }

    hr {
      border: 0;
      height: 3px;                // 굵은 밑줄
      background-color: #000 !important ;
      width: 100%;                // 헤더 최대 너비만큼 밑줄 길게
      margin: 0 0 1rem 0;       // 밑줄과 아래 문단 간 간격
    }
  }

  p {
    color: #777;
    font-size: 0.95rem;
    line-height: 1.6;
    word-break: keep-all;
    white-space: normal;
  }
}

.heritage-grid-container {
  column-count: 3;
  column-gap: 24px;
  max-width: 1000px;
  margin: 0 auto;
}


.heritage-card {
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-4px);
  }

  img {
    width: 100%;
    height: auto;            
    object-fit: contain;
    display: block;
  }

  .heritage-content {
    padding: 1rem;
  
    h5 {
      margin: 0;
      font-weight: bold;     
      font-size: 1rem;       
    }
  
    h3 {
      margin: 0;
      font-weight: normal;  
      font-size: 1rem;      
      letter-spacing: 0.05rem; //자간 
    }
  }
  h5, h3 {
    line-height: 1.6;         // 줄 간격 
  }
}
