<div class="article-grid">
    <div class="article-card" *ngFor="let article of articles">
        <div *ngIf="article.articleImages?.length" class="carousel slide" [id]="'carousel-' + article.articleId"
            data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let image of article.articleImages; let j = index"
                    [class.active]="j === 0">
                    <div class="article-image">
                        <img [src]="environment.apiBaseUrl + '/uploads/article/' + image.articleImage"
                            alt="slide image" />
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel-' + article.articleId"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel-' + article.articleId"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>

        <div class="article-caption">
            <div class="article-user">
                <span class="username">{{ article.nickname || '알 수 없음' }}</span>
                <span>
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-bookmark"></i>
                </span>
            </div>
            <p class="title">{{ article.articleTitle }}</p>
            <div class="meta-row">
                <span class="date">{{ article.articleCreatedAt | date: 'longDate' }}</span>
                <span class="location">📍 세종특별자치시</span>
            </div>
        </div>
    </div>
</div>
<button class="write-fixed-btn" routerLink="/article/write">
    <i class="bi bi-pencil"></i>
</button>