<div class="custom-ar-page">
  <div id="location"> 
    <p>📍유저 위치: {{ userLatitude }}, {{ userLongitude }}</p>
    <p *ngFor="let stamp of stamps"> 🧭 주변에 있는 스탬프 : {{ stamp.stampName }}</p> <!--{{ stamp.stampLatitude }}, {{ stamp.stampLongitude }}-->
  </div>
  
  <!-- AR.js 씬 -->
  <a-scene arjs="sourceType: webcam; debugUIEnabled: false;">
    <!-- 조명 추가 -->
    <a-light type="ambient" color="#fff" intensity="5"></a-light>
    
    <!-- cursor 추가 -->
    <a-camera gps-camera rotation-reader>
      <a-cursor fuse="true"></a-cursor>
    </a-camera>

    <!-- GLB 모델을 각 스탬프 위치에 표시 -->
    <a-entity *ngFor="let stamp of stamps"
              [attr.gps-entity-place]="'latitude: ' + stamp.stampLatitude + '; longitude: ' + stamp.stampLongitude"
              gltf-model="/assets/models/great_seal.glb"
              scale="0.5 0.5 0.5"
              rotation="0 180 0"
              (click)="onModelClick(stamp.stampID)"
              animation="property: position; to: 0 0.5 0; dir: alternate; dur: 1000; loop: true">
    </a-entity>

  </a-scene>
</div>