<div class="custom-ar-page">
  <div id="location">위치: {{ userLatitude }}, {{ userLongitude }}</div>
  
  <!-- 위치가 정상적으로 출력되는지 확인 -->
  <div *ngFor="let stamp of stamps">
    <p>{{ stamp.stampID }} - {{ stamp.stampLatitude }}, {{ stamp.stampLongitude }}</p>
  </div>  
  
  <!-- AR.js 씬 -->
  <a-scene embedded arjs="sourceType: webcam; debugUIEnabled: false;">
    <!-- 스탬프의 위치에 맞게 박스 표시 -->
    <a-box *ngFor="let stamp of stamps"
           color="yellow"
           [attr.gps-entity-place]="'latitude: ' + stamp.stampLatitude + '; longitude: ' + stamp.stampLongitude">
    </a-box>

    <!-- 카메라 설정 -->
    <a-camera gps-camera rotation-reader></a-camera>
  </a-scene>
</div>
